In [1]:
library('tidyverse')

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──

✔ ggplot2 3.2.0     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
df.marathon = read.csv('../data/marathon.csv')
df.marathon %>% head

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple
1 Kenya
2 Japan
3 Kenya
4 Ethiopia
5 Ethiopia
6 United States

# Filter

- the filter operation does exactly what you expect given its name.

In [3]:
# e.g.

# iris %>% filter(Species == 'setosa', Petal.Width > 0.2)

- The syntax for the `equals` operator in R is `==`.
- Greater than (`>` or `>=`) and less than (`<` or `<=`) are intuitive.
- You can fitler on multiple columns by adding arguments to the filter operation.

Filter the marathon data to just the runners from Kenya.

In [4]:
df.marathon.kenya = df.marathon %>% filter(country == 'Kenya')
head(df.marathon.kenya)

  year name                      country time       race.time MF
1 2019 Lawrence Cherono          Kenya   2H 7M 57S  2.132500  Men's
2 2017 Geoffrey Kirui            Kenya   2H 9M 37S  2.160278  Men's
3 2012 Wesley Korir              Kenya   2H 12M 40S 2.211111  Men's
4 2011 Geoffrey Mutai            Kenya   2H 3M 2S   2.050556  Men's
5 2010 Robert Kiprono Cheruiyot  Kenya   2H 5M 52S  2.097778  Men's
6 2008 Robert Kipkoech Cheruiyot Kenya   2H 7M 46S  2.129444  Men's
  country.simple
1 Kenya
2 Kenya
3 Kenya
4 Kenya
5 Kenya
6 Kenya

# Select

- select let's you include/exclude columns.

In [5]:
# e.g.

# iris %>% select(Species, Sepal.Length) %>% head

Select just the columns that represent runner names and country from the marathon data.

In [6]:
df.names.country= df.marathon%>% select(name, country) 
head(df.names.country)

  name                       country
1 Lawrence Cherono           Kenya
2 Yuki Kawauchi              Japan
3 Geoffrey Kirui             Kenya
4 Lemi Berhanu               Ethiopia
5 Lelisa Desisa              Ethiopia
6 Mebrahtom "Meb" Keflezighi United States

# Putting it all together

Use `group_by`, `filter`, and `summarize` to show the best race times for US and Kenyan women runners. (*Hint: use the `%in%` operator to filter by two values for one column*). Fill in the missing pieces below:

In [7]:
df.new = df.marathon %>%
     filter(MF == "Women's", country %in% c('United States', 'Kenya')) %>%
     group_by(country) %>%
     summarize(best.race.time = max(race.time))
df.new

  country       best.race.time
1 Kenya         2.537778
2 United States 3.173889

Use `filter`, `select`, `head`, and `arrange` to show the best women's race times in the data and the country of the runners. Fill in the missing pieces below:

In [8]:
df.new2 = df.marathon %>%
     filter(MF == "Women's") %>%
     select(race.time, country) %>%
     arrange(race.time) %>%
     head()
df.new2

  race.time country
1 2.333056  Ethiopia
2 2.345278  Kenya
3 2.362500  Germany
4 2.364444  Kenya
5 2.376667  Kenya
6 2.378611  United States

What's the best race time ever for a US man?

In [9]:
df.usmen = df.marathon %>%
     filter(MF == "Men's", country == 'United States') %>% 
     summarize(best.race.time = min(race.time))
df.usmen

  best.race.time
1 2.143611

How does the best US men's time compare the the best race time in the data overall?

In [10]:
df.best = df.marathon %>%
     filter(MF == "Men's") %>% 
     summarize(best.race.time = min(race.time))
df.best

  best.race.time
1 2.050556

The best US men's race time is 0.09 hours slower than the fastest overall race time.

# Bonus

For all countries with at least 5 winners in the men's category, which country has the best median race time in the men's category? (*Hint: use the `n()` function to count the winners by country.)

In [11]:
# This should get you started. It adds a column "N.winners" that represents the
# total winners from the runner's country.

df.marathon.winners = df.marathon %>%
    filter(MF == "Men's") %>%
    group_by(country) %>%
    mutate(N.winners = n())  
head(df.marathon.winners)

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple N.winners
1 Kenya          22
2 Japan           9
3 Kenya          22
4 Ethiopia        6
5 Ethiopia        6
6 United States  44

In [12]:
df.winners = df.marathon.winners %>%
    filter(MF == "Men's", N.winners > 4) %>%
summarize(best.med.race.time = median(race.time)) %>%
arrange(best.med.race.time)
head(df.winners)

  country       best.med.race.time
1 Kenya         2.155139
2 Ethiopia      2.163750
3 Japan         2.275833
4 Finland       2.348333
5 United States 2.478889
6 Canada        2.503472

Kenya had the best median race time